.background1 {
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: xx-large;
  text-decoration: none;
  background-color: transparent;
  color: black;
  width: 99%;
  flex-grow: 1 1 1 1;
  position: absolute;
  justify-content: space-between;
  gap: 6px;
  align-items:center;
  border-bottom: 1px color (0,9,9);
}

.navimg {
width: 80px;
}

.navbutton {
  padding: 0.75rem;
  outline: none;
  border: 3px: color(0,0,0);
  font-size: 25px;
  color: var(--extra-light);
  background-color: rgb(105, 13, 13);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3;
  z-index: 10;
}

.Bayonetta {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.Bayonetta img {

  flex:50px;
  width: 15%;
  max-height: 100%;
  max-width: 100%;
}

.BayonettaLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}